<div class="row">
  <div class="form-group">
    <div class="col-sm-12">
      <p class="lead"> Please Select Title for Your user </p>
    </div>
    <div class="col-sm-12">
      <div dropdown class="app-users-dropdown btn-group">
        <div dropdownToggle (click)="false" class="btn btn-primary dropdown-toggle user-title">
          <span class="user-title-content">
            <span *ngIf="selectedUser && selectedUser.title">
            User Title:
            <span class="user-title-italic">
              {{selectedUser.title}}
            </span>
          </span>
          <span class="user-title-italic" *ngIf="!selectedUser"> Please Select a User </span>
          </span>
          <span class="caret"></span>
        </div>

        <ul *dropdownMenu class="dropdown-menu users-dropdown-content">
          <li *ngFor="let user of users" (click)="onUserSelection(user)" title="{{user.title}}">
            <a class="dropdown-item" href="#">{{user.title}}</a>
          </li>
        </ul>
      </div>
      <div *ngIf="selectedUser" class="clear-control">
        <span  (click)="onClearUserSelection()">
          Clear
        </span>
      </div>
    </div>
  </div>
</div>

